extends layout

block content
    h1 Loans
    include partials/_new_loan_button
    include partials/_loan_filter
    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
        each loan in loans
            tr
              td
                a(href='/books/book_detail/' + loan.book_id) Emma
              td
                a(href='/patrons/patron_detail/' + loan.patron_id) Dave McFarland
              td #{loan.loaned_on}
              td #{loan.return_by}
              td #{loan.returned_on}
              td
                unless loan.returned_on
                    a.button(href='return_book.html') Return Book