extends layout

block content
    h1 New Book
    form(method='post' action='/new')
      p
        label(for='title') Title
        input#title(type='text', value=book.title)
      p
        label(for='author') Author
        input#author(type='text', value=book.author)
      p
        label(for='genre') Genre
        input#genre(type='text', value=book.genre)
      p
        label(for='first_published', value=book.first_published) First Published
        input#first_published(type='text')
      p
        input(type='submit', value='Create New Book')