extends layout

block content
    h1 Books
    include partials/_new_book_button
    include partials/_book_filter
    h1 Overdue Books
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        tr
          each loan in loans
            tr
              td
                a(href='/books/book_detail/' + loan.book.id) #{loan.book.title}
                td #{loan.book.author}
                td #{loan.book.genre}
                td #{loan.book.firstPublished()}
